<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .d {
        width: 50px;
        height: 50px;
        background-color: grey;
        display: inline-block;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <button v-on:click="genColros">generate collors</button>
      <br />
      <div style="display: inline;" v-for="pos in positions.slice(0,4)">
        <div @click="sho(pos)" class="d" :id="pos"></div>
      </div>

      <br />
      <div style="display: inline;" v-for="pos in positions.slice(4,8)">
        <div @click="sho(pos)" class="d" :id="pos"></div>
      </div>
      <br />
      <div style="display: inline;" v-for="pos in positions.slice(8,12)">
        <div @click="sho(pos)" class="d" :id="pos"></div>
      </div>
      <br />
      <div style="display: inline;" v-for="pos in positions.slice(12,16)">
        <div @click="sho(pos)" class="d" :id="pos"></div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      var search = new Vue({
        el: '#app',
        data: {
          colors: [],
          positions: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
          name: 'hei',
          prevTried: [],
          tries: 0,
          guessed: false,
        },
        methods: {
          sho: function (pos) {
              console.log(this.prevTried , "tries");
              console.log(this.tries, "count");
            this.prevTried.push(pos);
            document.getElementById(pos).style.backgroundColor = this.colors[pos];
            this.tries = this.tries + 1;

            if (this.tries == 2 ) {
              let color1 = document.getElementById(this.prevTried[0]).style.backgroundColor;
              let color2 = document.getElementById(this.prevTried[1]).style.backgroundColor;
                console.log(color1,color2, "aici");
                console.log(this.prevTried[0], "befopre");

              setTimeout( () => {
                if(color1 != color2)
                {
                    console.log(this.prevTried[0]);
                    document.getElementById(this.prevTried[0]).style.backgroundColor = "grey";
                    document.getElementById(this.prevTried[1]).style.backgroundColor = "grey";
                }else{
                    document.getElementById(this.prevTried[0]).style.visibility = "hidden";
                    document.getElementById(this.prevTried[1]).style.visibility = "hidden";
                }
                this.prevTried = [];
            this.tries = 0;
            }, 700);
            
            }
            console.log("dupa if");
          },
          shuffle: function (array) {
            array.sort(() => Math.random() - 0.5);
          },
          genColros: function () {
            for (let i = 0; i < 8; i++) {
              var color = this.getRandomColor();
              this.colors.push(color);
              this.colors.push(color);
            }

            this.shuffle(this.positions);
          },
          getRandomColor: function () {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
              color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
          },
        },
      });
    </script>
  </body>
</html>
